<template>
  <div class="about">
    <h1>This is an about page</h1>
    <a-button v-on:click="hello">hello</a-button>
  </div>
</template>
<script>
import api from '../services/api'
export default {
  methods: {
    hello: function() {
      api.hello()
    },
  },
}
</script>
