<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <Hi /> -->
    <PostForm />
    <PostList />
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
//import Hi from '@/components/Hi.vue'
import PostForm from '@/components/PostForm.vue'
import PostList from '@/components/PostList.vue'
export default {
  name: 'Home',
  components: {
    PostForm,
    PostList,
    //Hi,
    // HelloWorld,
  },
}
</script>
