<template>
  <div>
    <div>
      login
    </div>

    <div>
      <a-input type="text" v-model="email" />
    </div>

    <div>
      <a-input type="password" v-model="password" />
    </div>

    <div><a-button v-on:click="login">Login</a-button></div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    login: function() {
      // console.log(this.$store.getters.isAuthenticated)
      this.$store.commit('login', { email: this.email, password: this.password })
      //console.log(this.$store.getters.isAuthenticated)
      if (this.$store.getters.isAuthenticated) {
        this.$router.push('/')
      }
    },
  },
}
</script>
