<template>
  <div class="hi">
    <div>hi,{{name}}</div>
    <input type="text" v-model="name" />
    <ul>
      <li v-for="project in projects" v-bind:key="project.id">{{project.name}}</li>
    </ul>
    <button v-on:click="sayHi">Click Me</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      //
      name: 'Bee',
      projects: [
        { id: '1', name: 'project 1' },
        { id: '2', name: 'project 2' },
      ],
    }
  },
  methods: {
    sayHi: function() {
      // alert('hi' + this.name)
      //alert(`hi,${this.name}`)
      alert(`hi,${this.fullname}`)
    },
  },
  computed: {
    fullname: function() {
      return `${this.name} Ricd`
    },
  },
}
</script>

<style scoped>
.hi {
  font-size: 3em;
}
</style>