<template>
  <div>
    <div>
      <a-textarea v-model="post.body" :auto-size="{ minRows: 3, maxRows: 5 }"></a-textarea>
    </div>
    <div style="margin-top: 1rem">
      <a-button v-if="post.id" type="primary" @click="updatePost">Update Post</a-button>
      <a-button v-else @click="createPost" type="primary">Cick Post</a-button>
    </div>
  </div>
</template>
<script>
import { nanoid } from 'nanoid'
export default {
  data: function() {
    return {
      blankPost: { body: '' },
      //body: '',
      //posts: [
      //{ id: 1, body: 'aaa' },
      //{ id: 2, body: 'bbb' },
      //],
    }
  },
  methods: {
    createPost: function() {
      // const post = { id: nanoid(), body: this.body }
      // this.$store.commit('createPost', post)
      // this.body = ''
      const post = { ...this.post, id: nanoid() }
      this.$store.commit('createPost', post)
      this.blankPost = { ...this.blankPost }

      //console.log(this.post)
    },
    updatePost: function() {
      this.$store.commit('updatePost', this.post)
    },
  },
  computed: {
    post: function() {
      return this.$store.state.selectedPost
        ? { ...this.$store.state.selectedPost }
        : { ...this.blankPost }
    },
  },
}
</script>

<style scoped>
li {
  list-style-type: none;
  border: 1px solid #cccccc;
  margin-top: 10px;
  padding: 10px;
}
</style>
