<template>
  <ul style="margin-top: 1rem">
    <li v-for="post in posts" v-bind:key="post.id">
      {{ post.body }}
      <div><a-button v-on:click="setPost(post)">Edit</a-button></div>
      <div><a-button v-on:click="deletePost(post)">Delete</a-button></div>
    </li>
  </ul>
</template>
<script>
export default {
  data: function() {
    return {}
  },
  computed: {
    posts: function() {
      return this.$store.state.posts
    },
  },
  methods: {
    setPost: function(post) {
      this.$store.commit('setPost', post)
    },
    deletePost: function(post) {
      this.$store.commit('deletePost', post)
    },
  },
}
</script>
<style scoped>
li {
  list-style-type: none;
  border: 1px solid #cccccc;
  margin-top: 10px;
  padding: 10px;
}
</style>
